body {
  background :lightblue;
  font-size :23px;
  text-align :center;
}
.site-logo {
  width :300px;
}
header {
  background :rgb(2, 2, 32);
}
header a {
  color :rgb(174, 218, 174);
}
.shelf {
  display :grid; grid-template-columns :1fr 1fr 1fr;
  grid-template-rows :auto auto; gap :10px;
}
.shelf img {
  width :100%; height :auto;
}
header ul {
  list-style :none;
  display :flex;
  gap :20px;
  justify-content :center;
}
.info-product {
  width :500px;
}
.product {
  text-align :center;
}
.product p {
  margin-top :8px;
  font-weight :bold;
}

.Message_Box {
  padding : 1px;
  width : 50%;
  height : auto;
  margin : auto;
}

input[type=text] {
  font-size :14px;
  width :95%;
  height :40px;
  margin-bottom :20px;
  padding :5px;
  border :1px solid #6ace51;
  border-radius :8px;
}
textarea {
  font-size : 16px;
  width : 95%;
  height : 80px;
  margin-bottom : 3px;
  padding : 8px;
  border : 1px solid #ccc;
  border-radius : 8px;
}
#submit {
  width : 80px;
  border-radius : 8px;
}

.basket {
  background: white;
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
}

.basket select {
  width: 180px;
  height: 40px;
  font-size: 16px;
}

.basket button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}
